.address__map {
  display: block;
  margin-bottom: 55px;
}

.address__write {
  margin-bottom: 57px;
}

@media (min-width: @desktop-width) {
  .address__map {
    position: absolute;
    top: 50px;
    right: 0;
  }

  .address__write {
    margin-left: 240px;
  }
}
