.btn {
  display: block;
  width: 255px;
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 15px;
  border: solid 2px #444444;
  font-family: @openSans;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.18;
  color: #444444;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
