
.catalog__heading {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 74px;
  padding-bottom: 73px;
  font-family: @openSans;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: #000000;
  background-color: #f1f1f1;
}

.catalog__item {
  margin: 0;
  padding: 0;
}


.about-item__rew {
  list-style: none;
}
