.form-order__heading {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 74px;
  padding-bottom: 73px;
  font-family: @openSans;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: #000000;
  background-color: #f1f1f1;
}

.form-order__about {
  margin-bottom: 30px;
  font-family: @openSans;
  font-size: 13px;
  line-height: 1.85;
  color: #444444;
}

.form-order__list fieldset {
  border: none;
}

.form-order__list legend {
  margin-bottom: 33px;
  font-family: @openSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  color: #63d1bb;
}

.form-order__list ul {
  padding: 0;
}

.form-order__list li {
  margin-bottom: 24px;
  list-style: none;
}

.form-order__list label {
  font-family: @openSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
}

.person__data li {
  display: flex;
  flex-direction: column;
}

.person__data input,
.tel__number input,
.mail__adres input {
  border: none;
  border-bottom: 2px solid #000000;
}

.form-list__text {
  margin-bottom: 18px;
}

.text__comment textarea {
  width: 260px;
  border: 2px solid #000000;
}

.form-list__person li {
  margin-bottom: 22px;
}

.form-list__person label {
  margin-bottom: 18px;
}

.form-list__p {
  margin-bottom: 30px;
  font-family: @openSans;
  font-size: 14px;
  line-height: 1.14;
}

.form-list__send {
  margin-bottom: 55px;
}
