.form-list__text {
  margin-bottom: 12px;
}

.form-list__text legend {
  margin-bottom: 26px;
}

.text__comment textarea {
  width: 254px;
  min-height: 135px;
  border: 2px solid #000000;

  &::placeholder {
    padding-top: 18px;
    padding-left: 17px;
    font-family: @openSans;
    font-size: 17px;
    line-height: 1.06;
    color: rgba(68, 68, 68, 0.3);
  }
}

.form-list__text legend::after {
  left: 68px;
  width: 196px;
}

@media (min-width: @tablet-width) {
  .form-list__text {
    margin-bottom: 50px;
  }

  .form-list__text legend {
    margin-left: 3px;
  }

  .form-list__text textarea {
    width: 494px;
    min-height: 135px;
    margin-top: 2px;
    margin-left: 168px;
  }
}

@media (min-width: @desktop-width) {
  .form-list__text {
    width: 900px;
    margin-bottom: 45px;
    margin-left: 112px;
  }

  .form-list__text textarea {
    width: 694px;
    margin-left: 112px;
  }
}
