.info__mail,
.info__city {
  margin: 0;
  padding: 0;
}

.info__mail--cell,
.info__city--cell {
  margin-right: 28px;
}

.info__mail--parametr,
.info__city--patrametr {
  width: 178px;
}

.info__mail--parametr {
  text-decoration: underline;
}

@media (min-width: @tablet-width) {
  .info__mail {
    margin-right: 55px;
  }

  .info__mail--parametr,
  .info__city--patrametr {
    width: 219px;
  }
}

@media (min-width: @desktop-width) {
  .info__mail {
    margin-bottom: 30px;
  }
}
