.info__mail,
.info__city {
  margin: 0;
  padding: 0;
}

.info__mail {
  margin-bottom: 30px;
}

.info__mail--cell,
.info__city--cell {
  margin-right: 28px;
}

.info__city--parametr {
  width: 150px;
}

.info__mail--parametr {
  text-decoration: underline;
}

@media (min-width: @tablet-width) {
  .info__mail {
    margin-right: 35px;
  }

  .info__mail--cell,
  .info__city--cell {
    margin-right: 21px;
  }

  .info__mail--parametr,
  .info__city--parametr {
    width: 221px;
  }

  .info__city {
    margin-bottom: 20px;
  }
}

@media (min-width: @desktop-width) {
  .info__mail {
    margin-bottom: 30px;
  }
}
