.page-footer {
  background-color: #f1f1f1;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  border-bottom: 1px solid #ddd8d8;

  li {
    display: inline-block;
    margin-top: 29px;
    margin-bottom: 20px;
    margin-right: 40px;
    list-style: none;
  }
}

.page-footer__social a:hover svg {
  fill: #46c1ae;
}

.page-footer__social a:active svg {
  opacity: 0.3;
}

.page-footer__social li:last-child {
  margin-right: 0;
}

.page-footer__dev {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 12px;
  text-decoration: none;

  p {
    display: block;
    margin-right: 30px;
    font-family: @openSans;
    font-size: 19px;
    font-weight: bold;
    line-height: 0.95;
    color: #000000;
  }

  svg {
    fill: #63d1bb;
  }
}

.page-footer__dev:hover svg {
  fill: #46c1ae;
}

.page-footer__dev:active {
  opacity: 0.3;
}


@media (min-width: @tablet-width) {
  .page-footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1150px;
    min-height: 143px;
    margin: 0 auto;
  }

  .page-footer__logo {
    display: block;
    margin-left: 53px;
    cursor: pointer;
  }

  .page-footer__logo:hover svg {
    fill: #46c1ae;
  }

  .page-footer__logo:active svg {
    fill: #46c1ae;
    opacity: 0.3;
  }

  .page-footer__social {
    margin-top: 5px;
    margin-left: 75px;
    border: none;
  }

  .page-footer__dev {
    margin-top: 5px;
    margin-right: 52px;
  }
}
