
.page-main__background {
  display: block;
  background-image: url(../img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 50% 18%;
  background-color: #fafafa;
}

.page-main__heading {
  padding-top: 72px;
  padding-bottom: 120px;
  font-family: @openSans;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: #000000;
}

.page-main__group {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
}

.category__item {
  list-style: none;
  background-color: #63d1bb;
  a {
    display: block;
    width: 106px;
    padding: 30px;
    text-decoration: none;
    font-family: @openSans;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.26;
    color: #ffffff;
  }
}

.category__item--game {
  background-color: #56c3b2;
}

.page-main__product img {
  display: block;
  margin: 0 auto;
  margin-bottom: 29px;
}

.about-product__heading {
  margin: 0;
  margin-bottom: 8px;
  font-family: @openSans;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  color: #000000;
}

.about-product__special {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 38px;
  font-family: @openSans;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.18;
  color: #63d1bb;
}

.about-product__description {
  padding-bottom: 34px;
  font-family: @openSans;
  font-size: 15px;
  line-height: 1.6;
}

.about-product__list {
  padding-bottom: 28px;
  tr {
    display: block;
    border-bottom: 1px solid lightgray;
  }
}

.about-products__price {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 28px;
  font-family: @openSans;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  line-height: 1.41;
  coler: #000000;
}

.about-products__order {
  margin-bottom: 36px;
}

.about-us__heading,
.client__heading {
  font-family: @openSans;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  line-height: 1.2;
  color: #000000;
}


.about-us__list {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 61px;
  padding: 0;
li {
  padding-top: 85px;
  list-style: none;
  font-family: @openSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
}
}

.about-us__heading {
  padding-top: 34px;
}

.client__heading {
  padding-bottom: 38px;
}

.user-review {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 36px;
}

.user-review__text {
  margin: 0;
  margin-bottom: 40px;
  font-family: @openSans;
  font-size: 15px;
  line-height: 2;
}

.user-review__name {
  font-family: @openSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
}

.user-review__mail {
  font-family: @openSans;
  font-size: 17px;
  line-height: 1.76;
}

.arrow {
  display: flex;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 38px;
}

.arrow__left {
  display: block;
  width: 128px;
  height: 50px;
  border: solid 1px #ececec;
}


.arrow__right {
  display: block;
  width: 128px;
  height: 50px;
  border: solid 1px #ececec;
}

.client__write {
  margin-bottom: 45px;
}

.address__heading {
  padding-top: 44px;
  padding-bottom: 42px;
  font-family: @openSans;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  color: #000000;
}


.address__table td {
  min-width: 48px;
  padding: 0;
  vertical-align: top;
}

.address__table {
  margin-bottom: 42px;
}

.table__mail td:first-child {
  padding-bottom: 30px;
  padding-right: 30px;
}

.table__mail {
  font-family: @openSans;
  font-size: 15px;
  line-height: 2;
  color: #444444;
  a {
    text-decoration-color: #63d1bb;
    color: #444444;
  }
}

.table__city {
  font-family: @openSans;
  font-size: 15px;
  color: #444444;
}

.address__map img {
  margin-bottom: 39px;
}

.address__write {
  margin-bottom: 39px;
}
