.page-main--wallpaper {
  background-color: #f8f8f8;
  background-image: url("../img/bg-zigzag-fill.svg");
  background-repeat: repeat-x;
  background-position-y: 101%;
  background-size: 772px 25px;
}

@media (min-width: @tablet-width) {
  .page-main--wallpaper {
    margin-bottom: 55px;
  }
  .page-main {
    position: relative;
  }
}
