.page-footer {
  background-color: #f1f1f1;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    width: 22px;
    height: 21px;
    margin-top: 30px;
    margin-bottom: 29px;
    margin-right: 40px;
    list-style: none;
    background-color: black;
  }
}

.page-footer__social li:last-child {
  margin-right: 0;
}

.page-footer__dev {
  p {
    padding-top: 28px;
    padding-bottom: 31px;
    padding-left: 69px;
    font-family: @openSans;
    font-size: 19px;
    font-weight: bold;
    line-height: 0.95;
    color: #000000;
  }
}
