.page-main__contacts {
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: contain;
}

.contacts__heading {
  padding-top: 44px;
  padding-bottom: 42px;
  font-family: @openSans;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  color: #000000;
}

.contacts__info {
  margin-bottom: 42px;
}

.info__mail,
.info__city {
  margin: 0;
  padding: 0;
}

.contacts__info li {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  font-family: @openSans;
  font-size: 15px;
  line-height: 2;
  color: #444444;
}

.contacts__info a {
  text-decoration: none;
  color: #444444;
  text-decoration-color: #63d1bb;
}

.info__mail--cell,
.info__city--cell {
  margin-right: 28px;
}

.info__mail--parametr,
.info__city--patrametr {
  width: 178px;
}

.address__map {
  display: block;
  margin-bottom: 55px;
}

.address__write {
  margin-bottom: 57px;
}

@media (min-width: @tablet-width) {
  .page-main__contacts {
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 768px 20px;
    background-position: 20px 0;
  }

  .contacts__heading {
    position: relative;
    padding-top: 72px;
    font-size: 43px;
    line-height: 1.16;

    &::after {
      content: url("../img/icon-flag.svg");
      position: absolute;
      top: 60px;
      right: 0;
    }
  }

  .contacts__info {
    display: flex;
  }

  .contacts__info li {
    font-size: 17px;
    line-height: 1.76;
  }

  .info__mail {
    margin-right: 55px;
  }

  .info__mail--parametr,
  .info__city--patrametr {
    width: 219px;
  }
}
