@import "fonts.less";
@import "variables.less";
@import "normalize.css";
@import "wrapper.less";
@import "container.less";
@import "btn.less";
@import "visually-hidden.less";
@import "menu-open-close.less";
@import "page-header.less";
@import "main-nav.less";
@import "page-main.less";
@import "category.less";
@import "about-product.less";
@import "about-us.less";
@import "client.less";
@import "contacts.less";
@import "address.less";
@import "info.less";
@import "catalog.less";
@import "about-item.less";
@import "details.less";
@import "buy.less";
@import "production.less";
@import "form-order.less";
@import "form-list.less";
@import "form-list__type.less";
@import "form-list__color.less";
@import "form-list__person.less";
@import "form-list__tel.less";
@import "form-list__mail.less";
@import "form-list__text";
@import "page-footer.less";

body {
  margin: 0;
  font-family: @openSans;
}

.display-none {
  display: none;
}
